<div>
    <span>
        <a routerLink="">Forums</a>
        &rightarrow;
        <a routerLink="">{{categoryName}}</a>
    </span>
    <h1 class="page-title">{{subCategoryName}}</h1>
    <button type="button" [routerLink]="'/forums/'+subCategoryName+'/post-thread'" class="btn-special" style="float: right;">
        <mat-icon>edit</mat-icon>
        Post thread...
    </button>
    <h3 *ngIf="subCategoryPosts.length === 0">No posts yet...</h3>
    <table class="post-table">
        <tr *ngFor="let post of subCategoryPosts">
            <td>
                <div>
                    <a [routerLink]="'/threads/'+post.postId" class="magic-link" style="font-weight: bold;">{{post.title}}</a>
                </div>
                <div>
                    {{post.author}} &bullet; {{globals.getNiceTime(post.createdAt.toString())}}
                </div>
            </td>
            <td>Replies: {{post.comments.length}}</td>
        </tr>
    </table>
</div>
