<div>
    <h1 class="page-title">Log in</h1>
    <form action="/login" method="POST">
        <div>
            <dl>
                <dt>
                    <label>Username</label>
                </dt>
                <dd>
                    <input type="text" name="username">
                </dd>
            </dl>
            <dl>
                <dt>
                    <label>Password</label>
                </dt>
                <dd>
                    <input type="password" name="password">
                    <br>
                    <button class="btn-forgot-password">Forgot your password?</button>
                </dd>
            </dl>
        </div>
        <input type="submit" value="Log in" class="btn-primary">
    </form>
    <hr>
    <div>
        Don't have an account?
        <a routerLink="/register">Register now</a>
    </div>
</div>
