<div>
    <h1 class="page-title">Log in</h1>
    <div class="msg-error" *ngIf="showError">
        {{errorText}}
    </div>
    <br>
    <form #loginRef="ngForm" class="form-stylized form-stylized--border" (ngSubmit)="checkUser(loginRef)">
        <label class="form-label">Username</label>
        <input type="text" autofocus name="username" ngModel>
        <br><br>
        <label class="form-label">Password</label>
        <input type="password" name="password" ngModel>
        <br><br>
        <input type="checkbox" name="stayLogged" id="logged" ngModel>
        <label for="logged" class="form-checkbox">Stay logged in</label>
        <br><br><br>
        <button type="submit" class="btn-primary">Log in</button>
    </form>
    <br>
    <div>
        Don't have an account?
        <a routerLink="/register">Register now</a>
    </div>
</div>
