<div>
    <h1 class="page-title">Log in</h1>
    <div class="msg-error" *ngIf="showError">
        {{errorText}}
    </div>
    <form #loginRef="ngForm" (ngSubmit)="checkUser(loginRef)">
        <div>
            <dl>
                <dt>
                    <label>Username</label>
                </dt>
                <dd>
                    <input type="text" name="username" ngModel>
                </dd>
            </dl>
            <dl>
                <dt>
                    <label>Password</label>
                </dt>
                <dd>
                    <input type="password" name="password" ngModel>
                    <br>
                    <button class="btn-forgot-password">Forgot your password?</button>
                </dd>
            </dl>
            <input type="checkbox" id="logged" name="stayLogged" ngModel>
            <label for="logged">Stay logged in</label>
        </div>
        <br>
        <button type="submit" class="btn-primary">Log in</button>
    </form>
    <hr>
    <div>
        Don't have an account?
        <a routerLink="/register">Register now</a>
    </div>
</div>
