<div *ngIf="currentUser.privilege >= 253">
    <mat-drawer-container hasBackdrop>
        <mat-drawer #drawer mode="over">
            <!--Sidenav contents-->
            <button type="button" mat-menu-item>Reports</button>
            <button type="button" mat-menu-item>Logged Actions</button>
            <button type="button" mat-menu-item>Forum Customization</button>
        </mat-drawer>
        <mat-drawer-content style="padding-left: 12%; padding-right: 12%;">
            <!--Page content-->
            <div style="padding-top: 50px;"></div>

            <!--Top toolbar-->
            <mat-toolbar color="primary">
                <button type="button" mat-icon-button (click)="drawer.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <span>Admin Panel</span>
                <span style="flex: 1 1 auto;"></span>
                <button mat-icon-button routerLink="">
                    <mat-icon>home</mat-icon>
                </button>
            </mat-toolbar>

            <!--TEMPORARY FORMS-->
            <!--Category creation test-->
            <form #categoryRef="ngForm" (ngSubmit)="categorySubmit(categoryRef)">
                <br>
                <label>Category name:</label>
                <input type="text" name="catname" ngModel>
                <br>
                <label>Description:</label>
                <input type="text" name="catdesc" ngModel>
                <br>
                <button type="submit">Submit</button>
            </form>
            <!--Sub-category creation test-->
            <form #subcatRef="ngForm" (ngSubmit)="subcatSubmit(subcatRef)">
                <br>
                <label>Category name:</label>
                <input type="text" name="catname" ngModel>
                <br>
                <label>Sub-category name:</label>
                <input type="text" name="subCatName" ngModel>
                <br>
                <label>Sub-category description:</label>
                <input type="text" name="subCatDesc" ngModel>
                <br>
                <button type="submit">Submit</button>
            </form>
            <!--Subject creation test-->
            <form #subjectRef="ngForm" (ngSubmit)="subjectSubmit(subjectRef)">
                <br>
                <label>Category name:</label>
                <input type="text" name="catname" ngModel>
                <br>
                <label>Sub-category name:</label>
                <input type="text" name="subCatName" ngModel>
                <br>
                <label>Subject name:</label>
                <input type="text" name="subjectName" ngModel>
                <br>
                <label>Subject description:</label>
                <input type="text" name="subjectDesc" ngModel>
                <br>
                <button type="submit">Submit</button>
            </form>

            <!--Reports table-->
            <h3>Reports</h3>
            <table class="table-stylized">
                <tr>
                    <th>Reported User</th>
                    <th>Reason</th>
                    <th>Details</th>
                    <th>Submitter</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                <tr *ngFor="let report of reports">
                    <td>
                        <a [routerLink]="['/members/'+report.user]" class="report-name">
                            {{report.user}}
                        </a>
                    </td>
                    <td>{{report.reason | titlecase}}</td>
                    <td>{{report.details || "[No reason provided]"}}</td>
                    <td>
                        <a [routerLink]="['/members/'+report.sender]" class="report-name">
                            {{report.sender}}
                        </a>
                    </td>
                    <td>{{report.createdAt | date:"short"}}</td>
                    <td style="border-right: solid;">{{displayStatus(report.status)}}</td>
                    <td>
                        <button mat-icon-button (click)="approveReport(report.reportId)" matTooltip="Approve" style="color: green;">
                            <mat-icon>check</mat-icon>
                        </button>
                        <button mat-icon-button (click)="denyReport(report.reportId)" matTooltip="Deny" style="color: red;">
                            <mat-icon>close</mat-icon>
                        </button>
                    </td>
                </tr>
            </table>

            <div style="padding-bottom: 30%;"></div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
