<div>
    <h2>Editing Profile</h2>
    <form>
        <dl>
            <dt>
                <label>Profile Picture Url</label>
            </dt>
            <dd>
                <input type="text" name="pfpUrl">
            </dd>
            <dt>
                <label>Email</label>
            </dt>
            <dd>
                <input type="email" name="email">
            </dd>
            <dt>
                <label>Location</label>
            </dt>
            <dd>
                <input type="text" name="location">
            </dd>
            <dt>
                <label>Signature</label>
            </dt>
            <dd>
                <textarea name="signature"></textarea>
            </dd>
        </dl>
        <button type="submit" class="btn-primary">Save</button>
    </form>
</div>
