<div style="padding-bottom: 20%;">
    <h2>Edit Profile</h2>
    <form #profileRef="ngForm" (ngSubmit)="editProfile(profileRef)" class="form-stylized form-stylized--border">
        <label class="form-label"> New Profile Picture URL</label>
        <input type="text" name="pfpUrl" ngModel>
        <br><br>

        <label class="form-label">Location</label>
        <input type="text" name="location" ngModel="{{currentUser.location}}">
        <br><br>

        <label class="form-label">Signature</label>
        <textarea  name="signature" ngModel="{{currentUser.signature}}"></textarea>
        <br><br>

        <button type="submit" class="btn-primary">Save</button>
    </form>

    <br>

    <h2>Change Password</h2>
    <form #passRef="ngForm" (ngSubmit)="changePassword(passRef)" class="form-stylized form-stylized--border">
        <label class="form-label">Current Password</label>
        <input type="password" name="curPassword" ngModel>
        <br><br>

        <label class="form-label">New Password</label>
        <input type="password" name="newPassword" ngModel>
        <br><br>

        <label class="form-label">Confirm New Password</label>
        <input type="password" name="renewPassword" ngModel>
        <br><br><br>

        <button type="submit" disabled class="btn-primary">Save</button>
    </form>
</div>
