<div>
    <h1 class="page-title">Forum List</h1>

    <!--Forum actions-->
    <!--Admin functions-->
    <div *ngIf="currentUser.privilege >= 255">
        <button type="button" (click)="openDialogCategory()">
            <mat-icon>edit</mat-icon>
            Create category
        </button>
    </div>

    <br>

    <!--Category display-->
    <div *ngFor="let category of categories">
        <button *ngIf="currentUser.privilege >= 255" matTooltip="Create new sub-category" type="button" class="btn-subcategory" (click)="openDialogSubcategory(category.name)">
            <mat-icon>add</mat-icon>
        </button>
        <mat-accordion>
            <mat-expansion-panel expanded [hideToggle]="category.subCategories.length == 0">
                <mat-expansion-panel-header style="background-color: rgb(243, 243, 243);">
                    <mat-panel-title class="category-title">
                        {{category.name}}
                    </mat-panel-title>
                    <mat-panel-description>
                        {{category.description}}
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <table>
                    <tr class="subcategory-row" *ngFor="let subcategory of category.subCategories">
                        <td class="subcategory">
                            <div class="subcategory-title">
                                <a [routerLink]="'/forums/'+subcategory.name">{{subcategory.name}}</a>
                            </div>
                            <span>{{subcategory.description}}</span>
                        </td>
                    </tr>
                </table>
            </mat-expansion-panel>
        </mat-accordion>
        <br>
    </div>
    <h3 *ngIf="categories.length == 0">No categories yet...</h3>
</div>
