.block {
    border-style: solid;
    border-radius: 5px;
}

.block h2, h3 {
    font-size: 17px;
    padding-left: 10px;
}

.category-title {
    padding: 5px;
    font-weight: bold;
    font-size: 17px;
}

.subcategory-title {
    font-weight: bold;
}
