.block {
    border-style: solid;
    border-radius: 5px;
}

.block h2, h3 {
    font-size: 17px;
    padding-left: 10px;
}

.category-title {
    padding: 5px;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}

.subcategory {
    padding: 10px;
}
.subcategory-row:hover {
    background-color: peachpuff;
}
.subcategory-title {
    font-weight: bold;
    padding-top: 10px;
}
.subcategory-title a {
    text-decoration: none;
    color: currentColor;
}
.subcategory-title a:hover {
    text-decoration: underline;
}

.btn-subcategory {
    border-bottom: transparent;
    background-color: peachpuff;
    cursor: pointer;
}
