<div>
    <h1 class="page-title">Forum List</h1>
    <div *ngFor="let category of categories">
        <div class="block">
            <div class="category-header">
                <h2>{{category.name}}</h2>
                <span *ngIf="category.description !== ''" style="padding: 10px;">
                    {{category.description}}
                </span>
            </div>
            <div class="sub-category-sections" *ngFor="let subcategory of category.subCategories">
                <div class="sub-block">
                    <h3>{{subcategory.name}}</h3>
                    <div *ngIf="subcategory.description !== ''" class="sub-category-description">
                        {{subcategory.description}}
                        <span *ngFor="let subject of subcategory.subjects">
                            <button mat-menu-item style="width: 20%;">
                                <mat-icon>forum</mat-icon>
                                <span>{{subject.name}}</span>
                            </button>    
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div style="padding-bottom: 2%;"></div>
    </div>
    <h3 *ngIf="categories.length == 0">No categories yet...</h3>
</div>
