<div>
    <h1 class="page-title">Register</h1>
    <form>
        <label>Email:</label>
        <input type="text" name="email">
        <br>
        <label>Date of Birth:</label>
        <input type="date" name="dob">
        <br>
        <label>Username:</label>
        <input type="text" name="username">
        <br>
        <label>Password:</label>
        <input type="password" name="password">
        <br>
        <label>Confirm Password:</label>
        <input type="password" name="repassword">
        <br><br>
        <input type="checkbox" id="terms" name="agreedToTerms">
        <label for="terms">I agree to the terms and conditions</label>
        <br><br><br>
        <input type="submit" value="Register">
    </form>
</div>
