<div>
    <h1 class="page-title">Register</h1>
    <form #registerRef="ngForm" (ngSubmit)="sendInfo(registerRef)">
        <div>
            <dl>
                <dt>
                    <label>Email</label>
                </dt>
                <dd>
                    <input type="email" name="email">
                </dd>
            </dl>
            <dl>
                <dt>
                    <label>Date of Birth</label>
                </dt>
                <dd>
                    <input type="date" name="dob">
                </dd>
            </dl>
            <dl>
                <dt>
                    <label>Username</label>
                </dt>
                <dd>
                    <input type="text" name="username">
                </dd>
            </dl>
            <dl>
                <dt>
                    <label>Password</label>
                </dt>
                <dd>
                    <input type="password" name="password">
                </dd>
            </dl>
            <dl>
                <dt>
                    <label>Confirm Password</label>
                </dt>
                <dd>
                    <input type="password" name="repassword">
                </dd>
            </dl>
            <input type="checkbox" id="terms" name="agreedToTerms">
            <label for="terms">I agree to the terms and conditions</label>
        </div>
        <br><br>
        <button type="submit" class="btn-primary">Register</button>
    </form>
</div>
