<div>
  <!--Shown when the user is logged in-->
  <div *ngIf="currentUser.username!==''" style="text-align: right; padding-right: 20%;">
    <br>

    <!--Notifications-->
    <button type="button" [matMenuTriggerFor]="messages" class="btn-secondary">
      <mat-icon [matBadge]="getTotalUnread() || ''" matBadgeColor="warn" style="color: gray; cursor: pointer;">
        mail
      </mat-icon>
    </button>
    <mat-menu #messages="matMenu" xPosition="before">
      <span *ngIf="notifications.length==0">No new notifications</span>
      <button *ngIf="notifications.length>0" style="font-size: 12px;">mark all as read</button>
      <div *ngFor="let msg of notifications; let i=index">
        <button mat-menu-item (click)="displayMessage(msg, i)">
          <span [ngClass]="{'msg-unread':!msg.isRead}">{{globals.getNiceTime(msg.dateSent.toString())}}</span> ->
          <span [ngClass]="{'msg-unread':!msg.isRead}">{{msg.subject}}</span>
        </button>
      </div>
    </mat-menu>

    &nbsp;
    
    <!--Profile picture-->
    <img [src]="profilePicUrl" (click)="nameClick()" class="img-profile-header">
    <button (click)="nameClick()" class="label-username">
      {{currentUser.username}}
    </button>
    <mat-icon *ngIf="currentUser.privilege >= 253" class="icn-admin">
      military_tech
    </mat-icon>
    &nbsp;
    <button [matMenuTriggerFor]="usermenu" class="menu-actions">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #usermenu="matMenu">
      <button mat-menu-item routerLink="/editprofile">
        <mat-icon>edit</mat-icon>
        <span>Edit Profile</span>
      </button>
      <button mat-menu-item (click)="logoutUser()">
        <mat-icon>logout</mat-icon>
        <span>Log out</span>
      </button>
    </mat-menu>
  </div>

  <!--Buttons when the user is not logged in-->
  <div class="btn-position">
    <button *ngIf="currentUser.username==='' && router.url!=='/login'" class="btn-login" routerLink="/login">
      Log in
    </button>
    &nbsp;
    <button *ngIf="currentUser.username==='' && router.url!=='/register'" class="btn-register" routerLink="/register">
      Register
    </button>
  </div>

  <hr>

  <!--Tabs-->
  <div>
    <nav (click)="onLogin=false; onRegister=false;">
      <a routerLink="" [ngClass]="{'current-tab':router.url==='/'}">Home</a>
      <span style="padding-right: 40px;"></span>
      <a routerLink="/members" [ngClass]="{'current-tab':router.url==='/members'}">Members</a>
      <span style="padding-right: 40px;"></span>
      <a routerLink="/bans" [ngClass]="{'current-tab':router.url==='/bans'}">Bans</a>
    </nav>
  </div>
  <hr>
  <div class="page-padding">
    <router-outlet></router-outlet>
  </div>

</div>
