<div>
  <div class="btn-position">
    <button (click)="onLogin=true; onRegister=false;" *ngIf="!onLogin" class="btn-login" routerLink="/login">Log in</button>
    &nbsp;
    <button (click)="onLogin=false; onRegister=true;" *ngIf="!onRegister" class="btn-register" routerLink="/register">Register</button>
  </div>
  <hr>
  <div>
    <nav (click)="onLogin=false; onRegister=false;">
      <a routerLink="">Home</a>
      &nbsp;
      <a routerLink="/members">Members</a>
    </nav>
  </div>
  <hr>
  <div class="page-padding">
    <router-outlet></router-outlet>
  </div>
</div>
