<div>
  <!--Shown when the user is logged in-->
  <div *ngIf="currentUser.username!==''" style="text-align: right; padding-right: 20%;">
    <br>
    <mat-icon matBadge="10" matBadgeColor="warn" style="color: gray; cursor: pointer;">mail</mat-icon>
    &nbsp;
    <button (click)="nameClick()" class="label-username">
      {{currentUser.username}}
    </button>
    <mat-icon *ngIf="currentUser.privilege >= 253" class="icn-admin">
      military_tech
    </mat-icon>
    &nbsp;
    <button [matMenuTriggerFor]="usermenu" class="menu-actions">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #usermenu="matMenu">
      <button mat-menu-item (click)="logoutUser()">
        <mat-icon>logout</mat-icon>
        <span>Log out</span>
      </button>
    </mat-menu>
  </div>

  <!--Buttons when the user is not logged in-->
  <div class="btn-position">
    <button (click)="onLogin=true; onRegister=false;" *ngIf="currentUser.username==='' && !onLogin" class="btn-login" routerLink="/login">
      Log in
    </button>
    &nbsp;
    <button (click)="onLogin=false; onRegister=true;" *ngIf="currentUser.username==='' && !onRegister" class="btn-register" routerLink="/register">
      Register
    </button>
  </div>

  <hr>

  <div>
    <nav (click)="onLogin=false; onRegister=false;">
      <a routerLink="">Home</a>
      &nbsp;
      <a routerLink="/members">Members</a>
      &nbsp;
      <a routerLink="/bans">Bans</a>
    </nav>
  </div>
  <hr>
  <div class="page-padding">
    <router-outlet></router-outlet>
  </div>

</div>
