.btn-login {
    cursor: pointer;
    border-style: none;
    background-color: transparent;
    color: indianred;
    font-weight: bold;
    font-size: 20px;
}

.img-profile-header {
    width: 100%;
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
    position: relative;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    vertical-align: middle;
}

.msg-unread {
    font-weight: bold;
}

::ng-deep.mat-menu-panel {
    max-width: none !important;
    padding: 10px;
}

.icn-admin {
    cursor: default;
    user-select: none;
}

.menu-actions {
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    font-size: 25px;
}

.label-username:hover {
    cursor: pointer;
    color: darkcyan;
}

.label-username {
    border-color: transparent;
    border-style: none;
    background-color: transparent;
    font-size: 20px;
}

.info-login {
    text-align: right; 
    padding-right: 20%;
    float: right;
}

.page-padding {
    padding-left: 20%;
    padding-right: 20%;
}

.nav-bar {
    border-style: groove;
}

.btn-register {
    cursor: pointer;
    color: white;
    background-color: indianred;
    font-weight: bold;
    font-size: 20px;
    border-style: none;
    border-radius: 5px;
}

nav {
    padding: 10px;
    padding-left: 20%;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color:rgb(40, 40, 40);
}
nav a:hover {
    color: blue;
}

.current-tab {
    color: blue !important;
}

.btn-position {
    text-align: right;
    padding-right: 20%;
}