.profile-block {
    padding-left: 10px;
}

.btn-edit-profile {
    float: right;
    cursor: pointer;
    background-color: transparent;
    border-style: none;
    color: grey;
}

.btn-menu {
    float: right;
    cursor: pointer;
    background-color: transparent;
    border-style: none;
    color: black;
}

.label-username {
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 10px;
}

.profile-block img {
    float: left;
    width: 200px;
    padding-right: 20px;
}
