<div *ngIf="userProfile.username!==''">
    <!--User profile details here-->
    <div class="profile-block">
        <div>
            <!--Profile picture-->
            <img src="https://www.tenforums.com/geek/gars/images/2/types/thumb_15951118880user.png">
        </div>
        <div>
            <button class="btn-edit-profile" aria *ngIf="loggedInUser.username===userProfile.username">
                <mat-icon>edit</mat-icon>
            </button>
            <button class="btn-menu" [matMenuTriggerFor]="profileMenu" *ngIf="loggedInUser.privilege > 0 && loggedInUser.username!==userProfile.username">
                <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #profileMenu="matMenu">
                <button mat-menu-item>
                    <mat-icon>report</mat-icon>
                    <span>Report</span>
                </button>
                <!--Administrative actions-->
                <button mat-menu-item (click)="changeUserRole()"
                *ngIf="loggedInUser.privilege >= 255 && loggedInUser.privilege > userProfile.privilege">
                    <mat-icon>local_police</mat-icon>
                    <span>Change role</span>
                </button>
                <button mat-menu-item (click)="promoteUser()"
                *ngIf="loggedInUser.privilege == 254 && loggedInUser.privilege > userProfile.privilege && userProfile.privilege < 253">
                    <mat-icon>add_moderator</mat-icon>
                    <span>Promote user</span>
                </button>
                <button mat-menu-item 
                *ngIf="loggedInUser.privilege == 254 && userProfile.privilege == 253">
                    <mat-icon>remove_moderator</mat-icon>
                    <span>Demote user</span>
                </button>
                <button mat-menu-item (click)="banUser()"
                *ngIf="loggedInUser.privilege >= 253 && loggedInUser.privilege > userProfile.privilege && userProfile.privilege < 253">
                    <mat-icon>gavel</mat-icon>
                    <span>Ban user</span>
                </button>
            </mat-menu>
            <!--User info-->
            <div class="label-username">
                {{userProfile.username}}
            </div>
            <div [ngClass]="{'role-moderator':userProfile.privilege==253, 'role-admin':userProfile.privilege==254, 'role-head-admin':userProfile.privilege==255,
                            'role-owner':userProfile.privilege==256}">
                {{globals.getRoleName(userProfile.privilege)}} 
            </div>
            <div>
                {{userProfile.location || 'No location provided'}}
            </div>
            <hr>
            <div>
                <table style="width: 50%; padding-left: 100px;">
                    <tr>
                        <th>Posts Created</th>
                        <th>Comments Made</th>
                    </tr>
                    <tr style="text-align: center;">
                        <td>{{userProfile.posts?.length || 0}}</td>
                        <td>{{userProfile.comments?.length || 0}}</td>
                    </tr>
                </table>
            </div>
        </div>  
    </div>
</div>
<!--Invalid user url-->
<div *ngIf="userProfile.username===''">
    <h2 class="page-title">Oh no! We ran into some issues.</h2>
    <div>The requested user does not exist.</div>
</div>
