<div *ngIf="userProfile.username!==''">
    <!--User profile details here-->
    <div class="profile-block">
        <div>
            <!--Profile picture-->
            <img [src]="userProfile.pfpUrl" class="img-profile-main">
        </div>
        <div>
            <button class="btn-edit-profile" routerLink="/editprofile" *ngIf="loggedInUser.username===userProfile.username">
                <mat-icon>edit</mat-icon>
            </button>
            <button class="btn-menu" [matMenuTriggerFor]="profileMenu" *ngIf="loggedInUser.privilege > 0 && userProfile.privilege <= loggedInUser.privilege && loggedInUser.username!==userProfile.username">
                <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #profileMenu="matMenu">
                <button mat-menu-item (click)="reportUser()">
                    <mat-icon>report</mat-icon>
                    <span>Report</span>
                </button>
                <!--Administrative actions-->
                <button mat-menu-item (click)="changeUserRole()"
                *ngIf="!isBanned && loggedInUser.privilege >= 255 && loggedInUser.privilege > userProfile.privilege">
                    <mat-icon>local_police</mat-icon>
                    <span>Change role</span>
                </button>
                <button mat-menu-item (click)="promoteUser()"
                *ngIf="!isBanned && loggedInUser.privilege == 254 && loggedInUser.privilege > userProfile.privilege && userProfile.privilege < 253">
                    <mat-icon>add_moderator</mat-icon>
                    <span>Promote user</span>
                </button>
                <button mat-menu-item 
                *ngIf="loggedInUser.privilege == 254 && userProfile.privilege == 253">
                    <mat-icon>remove_moderator</mat-icon>
                    <span>Demote user</span>
                </button>
                <button mat-menu-item (click)="banUser()"
                *ngIf="!isBanned && loggedInUser.privilege >= 253 && loggedInUser.privilege > userProfile.privilege && userProfile.privilege < 253">
                    <mat-icon>gavel</mat-icon>
                    <span>Ban user</span>
                </button>
                <button mat-menu-item (click)="unbanUser()"
                *ngIf="isBanned && loggedInUser.privilege >= 253 && loggedInUser.privilege > userProfile.privilege && userProfile.privilege < 253">
                    <mat-icon>lock_open</mat-icon>
                    <span>Unban user</span>
                </button>
            </mat-menu>
            <!--User info-->
            <div class="label-username" style="display: inline;">
                {{userProfile.username}}
            </div>
            <div *ngIf="isBanned" style="display: inline; font-size: 20px;">
                <span>(</span>
                <span style="color: red;">BANNED</span>
                <span>)</span>
            </div>
            <br><br>
            <span [ngClass]="{'role-moderator':userProfile.privilege==253, 'role-admin':userProfile.privilege==254, 'role-head-admin':userProfile.privilege==255,
                            'role-owner':userProfile.privilege==256}">
                {{globals.getRoleName(userProfile.privilege)}}
            </span>
            &VerticalLine;
            <span>Joined {{userProfile.dateCreated | date:'mediumDate'}}</span>
            <div>
                <!--Age-->
                <span>{{getUserAge()}}</span>
                &bull;
                <!--Location-->
                <span *ngIf="userProfile.location!==''">From </span>
                <span [ngClass]="{'profile-info-custom':userProfile.location!==''}">
                    {{userProfile.location || 'No location provided'}}
                </span>
            </div>
            <hr>
            <div>
                <table style="width: 50%; padding-left: 100px;">
                    <tr>
                        <th>Posts Created</th>
                        <th>Comments Made</th>
                    </tr>
                    <tr style="text-align: center;">
                        <td>{{userProfile.posts?.length || 0}}</td>
                        <td>{{userProfile.comments?.length || 0}}</td>
                    </tr>
                </table>
            </div>
        </div>  
    </div>
    <div style="padding-bottom: 100px;"></div>

    <!--Profile comments section-->
    <div *ngIf="loggedInUser.privilege==0" class="msg-login-required" style="text-align: center;">
        <mat-icon>lock</mat-icon>
        You must be logged in to comment
    </div>
    <form #commentRef="ngForm" (ngSubmit)="addComment(commentRef)" *ngIf="loggedInUser.privilege>0" class="form-stylized form-stylized--border">
        <label class="form-label">Leave a comment</label>
        <textarea name="comment" maxlength="1000" ngModel required></textarea>
        <br><br>

        <button type="submit" [disabled]="commentRef.invalid" class="btn-primary">Submit</button>
    </form>
    <h3 *ngIf="userProfile.profileComments && userProfile.profileComments.length==0">No comments yet</h3>
    <br>
    <!--Table of added comments-->
    <table *ngIf="userProfile.profileComments && userProfile.profileComments.length>0" class="profile-comments">
        <tr *ngFor="let comment of profileComments">
            <td class="profile-comment-userdata">{{comment.user.username}}</td>
            <td>{{comment.content}}</td>
        </tr>
    </table>
</div>

<!--Invalid user url-->
<div *ngIf="userProfile.username===''">
    <h2 class="page-title">Oh no! We ran into some issues.</h2>
    <div>The requested user does not exist.</div>
</div>

<div style="padding-bottom: 40%;"></div>
