.post-pfp {
    width: 100%;
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.post-table {
    width: 100%;
    display: table;
    /*border-style: solid;
    border-color: black;*/
    border-collapse: separate;
    border-spacing: 0 15px;
}
.post-table td {
    border: 2px solid black;
}

.post-author {
    width: 10%;
    padding: 30px;
    text-align: center;
    background-color: rgb(242, 242, 242);
}

.post-content {
    padding: 15px;
    padding-top: 3px;
    vertical-align: top;
    text-align: left;
}

.text-info {
    color: grey;
    font-size: 14px;
}
.text-content {
    padding-top: 10px;
    padding-bottom: 20px;
}
