<div>
    <h1 class="page-title">{{postData.title}}</h1>

    <!--Information about the thread that is pinned to the top-->
    <div style="padding-bottom: 6%;">
        <a [routerLink]="'/members/'+postData.author" class="magic-link">
            {{postData.author}}
        </a>
        &bullet; 
        {{globals.getNiceTime(postData.createdAt.toString())}}
    </div>

    <!--Post contents-->
    <div>
        <table class="post-table">
            <tr>
                <!--Poster information-->
                <td class="post-author">
                    <a [routerLink]="'/members/'+postData.author" class="post-pfp">
                        <img [src]="postUser.pfpUrl" class="post-pfp">
                    </a> 
                    <div>
                        <a [routerLink]="'/members/'+postData.author" class="magic-link">
                            {{postData.author}}
                        </a>
                    </div>
                    <div>{{globals.getRoleName(postUser.privilege)}}</div>
                </td>

                <!--Post content-->
                <td class="post-content">
                    <div class="text-info">{{globals.getNiceTime(postData.createdAt.toString())}}</div>

                    <div class="text-content">
                        {{postData.content}}
                    </div>
                    <hr *ngIf="postUser.signature !== ''">
                    {{postUser.signature}}
                </td>
            </tr>
            <!--Comment section-->
            <tr *ngFor="let comment of postComments">
                <!--Comment author-->
                <td class="post-author">
                    <a [routerLink]="'/members/'+comment.user.username" class="post-pfp">
                        <img [src]="comment.user.pfpUrl" class="post-pfp">
                    </a> 
                    <div>
                        <a [routerLink]="'/members/'+comment.user.username" class="magic-link">
                            {{comment.user.username}}
                        </a>
                    </div>
                    <div>
                        {{globals.getRoleName(comment.user.privilege)}}
                    </div>
                </td>
                <!--Comment content-->
                <td class="post-content">
                    <div class="text-info">
                        {{globals.getNiceTime(comment.datePosted.toString())}}
                    </div>

                    <div class="text-content">
                        {{comment.content}}
                    </div>
                    <hr *ngIf="comment.user.signature !== ''">
                    {{comment.user.signature}}
                </td>
            </tr>

            <!--Comment post form-->
            <tr *ngIf="currentUser.username !== ''">
                <td class="post-author">
                    <a [routerLink]="'/members/'+currentUser.username" class="post-pfp">
                        <img [src]="currentUser.pfpUrl" class="post-pfp">
                    </a>
                </td>
                <!--Actual form-->
                <td>
                    <form #commentRef="ngForm" (ngSubmit)="makeComment(commentRef)" class="form-stylized" style="padding: 15px;">
                        <textarea name="reply" placeholder="Write your reply..." value="Write your reply..." ngModel></textarea>
                        <br><br>
                        <button type="submit" class="btn-primary">
                            <mat-icon>reply</mat-icon>
                            Post reply
                        </button>
                    </form>
                </td>
            </tr>
        </table>

        <!--User must be logged in to comment-->
        <div *ngIf="currentUser.privilege==0" class="msg-login-required" style="text-align: center;">
            <mat-icon>lock</mat-icon>
            You must be logged in to comment
        </div>
    </div>
    <div style="padding-bottom: 10%;"></div>
</div>
