.member-table {
    width: 100%;
    border-style: solid;
    border-collapse: collapse;
    border-color: black;
    border-width: thin;
}

.member-table th {
    border-style: solid;
}

.member-table-rows tr:nth-child(odd) {
    background-color: rgb(243, 243, 243);
}

.member-table td {
    padding: 10px;
}

.member-name {
    color: black;
    text-decoration: none;
}

.member-name:hover {
    text-decoration: underline;
    color: darkslateblue;
    cursor: pointer;
    border-color: black;
}
