.member-table {
    width: 100%;
    border-style: solid;
    border-collapse: collapse;
    border-color: black;
}

.member-table th {
    border-style: solid;
}

.member-table td {
    border-style: solid;
    border-width: thin;
}

.role-head-admin {
    font-weight: bold;
    color: red;
    border-color: black;
}

.role-admin {
    font-weight: bold;
    color: darkred;
    border-color: black;
}

.role-moderator {
    font-weight: bold;
    color: blue;
    border-color: black;
}