<div>
    <h2>Ban list</h2>
    <div *ngIf="bans.length == 0">
        <h3>No bans, for now...</h3>
    </div>
    <div *ngIf="bans.length > 0">
        <form>
            <input type="text" placeholder="Search users">
            <br><br>
        </form>
        <table class="member-table">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Ban Info</th>
                    <th>Length</th>
                </tr>
            </thead>
            <tbody class="member-table-rows">
                <tr *ngFor="let ban of bans">
                    <td style="width: 150px;">
                        <a [routerLink]="['/members/'+ban.username]" class="member-name">
                            {{ban.username}}
                        </a>
                    </td>
                    <td style="width: 500px;">
                        "{{ban.reason}}"
                        <br><br>
                        <span *ngIf="ban.unbanned" style="font-size: 14px;">
                            <b>Unbanned:</b> "{{ban.unbanReason}}"
                        </span>
                        <br>
                        <span>----------------</span>
                        <div class="ban-info">
                            Banned by:
                            <span style="padding-right: 30px;"></span>
                            <a [routerLink]="['/members/'+ban.author]" class="member-name">
                                {{ban.author}}
                            </a>
                            <br>
                            Issued on:
                            <span style="padding-right: 36px;"></span> 
                            {{ban.createdAt | date:'full'}}
                            <div class="ban-info" *ngIf="ban.unbanned">
                                Unbanned by:
                                <span style="padding-right: 13px;"></span>
                                <a [routerLink]="['/members/'+ban.unbanAuthor]" class="member-name">
                                    {{ban.unbanAuthor}}
                                </a>
                                <br>
                                Unbanned on:
                                <span style="padding-right: 13px;"></span>
                                {{ban.updatedAt | date:'full'}}
                            </div>
                        </div>
                    </td>
                    <td [ngClass]=
                    "{'length-inactive':!isActive(ban.expiryDate.toString()) || ban.unbanned, 
                    'length-perma':ban.lengthText==='Permanent' && !ban.unbanned,
                    'length-active':isActive(ban.expiryDate.toString())}" 
                    style="width: 150px; text-align: center;">
                        {{ban.lengthText}}
                        <span *ngIf="!isActive(ban.expiryDate.toString()) || ban.unbanned">
                            (expired)
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
