.member-table {
    width: 100%;
    border-style: solid;
    border-collapse: collapse;
    border-color: black;
    border-width: thin;
}

.disable_ripple {
    background-color: transparent !important;
    padding: 0 !important;
    margin: 0 !important;
    font: inherit;
}
.disable_ripple:hover{
    background-color: transparent !important;
}

.ban-info {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}

.length-active {
    background-color: khaki;
}

.length-inactive {
    background-color: lightgreen;
}

.length-perma {
    background-color: coral;
}

.member-table th {
    border-style: solid;
}

.member-table-rows tr:nth-child(odd) {
    background-color: rgb(243, 243, 243);
}

.member-table td {
    padding: 10px;
    border-style: solid;
    border-width: thin;
}

.member-name {
    color: black;
    text-decoration: none;
    font-family: inherit;
}

.member-name:hover {
    text-decoration: underline;
    color: darkslateblue;
    cursor: pointer;
    border-color: black;
}
