/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html * {
    font-family:Arial, Helvetica, sans-serif;
}

.page-title {
    font-weight: 600;
    font-size: 25px;
}

.img-profile-comment {
    width: 100%;
    min-width: 70px;
    max-width: 70px;
    min-height: 70px;
    max-height: 70px;
    position: relative;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    vertical-align: middle;
    padding: 10px;
}

.form-stylized {
    font-size: 18px;
}
.form-stylized--border {
    background-color: lightcyan;
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    padding: 20px;
}
.form-label::after {
    content: ":";
    padding-right: 10%;
}
.form-stylized input[type=text], input[type=select], input[type=password], input[type=date] {
    font-size: 16px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 12px 12px;
    width: 96%;
}
.form-stylized select {
    font-size: 16px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 12px 12px;
    cursor: pointer;
}
.form-stylized textarea {
    font-size: 16px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 12px 12px;
    width: 96%;
    height: 100px;
    resize: none;
}
.form-checkbox {
    vertical-align: 3px;
    cursor: pointer;
    padding-left: 7px;
}
.form-stylized input[type=checkbox] {
    cursor: pointer;
    width: 20px;
    height: 20px;
}


.btn-primary {
    background-color: midnightblue;
    font-weight: bold;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    border-style: hidden;
    padding: 8px;
    cursor: pointer;
}
.btn-primary:disabled {
    background-color: lightgrey;
    color: gray;
    cursor: default;
}

.btn-secondary {
    background-color: transparent;
    font-weight: bold;
    font-size: 15px;
    color: black;
    border-radius: 5px;
    border-style: none;
    padding: 8px;
    cursor: pointer;
}
.btn-secondary:disabled {
    cursor: default;
    color: grey;
}

.btn-special {
    padding: 10px;
    font-weight: bold;
    background-color: lightsalmon;
    border-style: none;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-special:disabled {
    background-color: lightgrey;
    cursor: default;
    color: grey;
}
.btn-special mat-icon {
    vertical-align: middle;
    transform: scale(0.9);
    padding-right: 3px;
}

/* Error icon */
.msg-error::before {
    content: '\2573 ';
    color: white;
    padding-right: 10px;
    padding-left: 5px;
    font-weight: bold;
}
.msg-error {
    border-style: solid;
    background-color: indianred;
    padding: 10px;
    border-width: thin;
    border-radius: 10px;
    font-size: 20px;
}

.msg-login-required {
    border-style: solid;
    background-color: cornflowerblue;
    padding: 10px;
    border-width: thin;
    border-radius: 10px;
    font-size: 20px;
}

/* Styles for role coloring */
.role-moderator::before {
    content: '\2605';
}
.role-moderator {
    font-weight: bold;
    color: blue;
    border-color: black;
}
.role-moderator::after {
    content: '\2605';
}

.role-admin::before {
    content: '\2605\2605';
}
.role-admin {
    font-weight: bold;
    color: darkred;
    border-color: black;
}
.role-admin::after {
    content: '\2605\2605';
}

.role-head-admin::before {
    content: '\2605\2605\2605';
}
.role-head-admin {
    font-weight: bold;
    color: red;
    border-color: black;
}
.role-head-admin::after {
    content: '\2605\2605\2605';
}

.role-owner::before {
    content: '\2605\2605\2605\2605';
}
.role-owner {
    font-weight: bold;
    color: orange;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.role-owner::after {
    content: '\2605\2605\2605\2605';
}
